body {
    margin: 0;
    padding: 1em;
}

div.boxes div.box {
    background: grey;
    margin-bottom: 1em;
    padding: 1em;
}
    div.boxes div.box input[name=box-name] {
        display: block;
        font-size: 1.5em;
    }
    div.boxes div.box button.delete-box {
        display: block;
    }
    div.boxes div.box input[name=box-item] {
        display: block;
    }
